@font-face {
  font-family: 'LiberationSans-Bold';
  src: url('../../static/fonts/LiberationSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LiberationSans-Italic';
  src: url('../../static/fonts/LiberationSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'LiberationSans-Regular';
  src: url('../../static/fonts/LiberationSans-Regular.ttf') format('truetype');
}

html {
  background-color: #fff;
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=6921'), auto;	
}

.container-fluid {
  background-color: #fff;
}

.carousel-control-prev:hover {
  cursor: url('http://www.rw-designer.com/cursor-extern.php?id=6921'), auto;
}

.carousel-control-next:hover {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=6921'), auto;
}

.nav-link:hover {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=6921'), auto;
}

.carousel .slide {
  max-width: 1000px;
  margin: 0 auto;
}

.carousel-image {
  margin: 0 auto;
}